<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title><%= current_page.data.title || "Style Guide" %> &middot; North Coast Marble &amp; Granite</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, maximum-scale: 1.0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500|Roboto+Mono:400,700" rel="stylesheet"> 
  <%= stylesheet_link_tag 'modern-normalize', 'app' %>
</head>
<body>
  <%= partial 'shared/header' %>
  <div class="wrapper">
    <%= partial 'shared/sidebar' %>
    <div>
      <%= yield %>
      <%= partial 'shared/footer' %>
    </div>
  </div>
</body>
</html>