<div class="header">
  <div class="wrapper">
    <% link_to '' do %>
      <%= image_tag 'logo.svg', { class: 'logo', alt: 'North Coast Marble & Granite' } %>
    <% end %>

    <ul class="navigation">
      <li><%= link_to 'Branding', 'branding' %></li>
      <li><%= link_to 'Colour', 'colour' %></li>
      <li><%= link_to 'Icons', 'icons' %></li>
      <li><%= link_to 'Type', 'type' %></li>
      <li><%= link_to 'Components', 'components' %></li>
    </ul>

  </div>
</div>